blessings==1.6
boto==2.45.0
bpython==0.16
bz2file==0.98
click==6.7
curtsies==0.2.11
gensim==0.13.4.1
greenlet==0.4.11
nltk==3.2.2
numpy==1.11.3
praw==4.4.0
prawcore==0.8.0
Pygments==2.1.3
requests==2.12.4
scipy==0.18.1
six==1.10.0
smart-open==1.3.5
update-checker==0.16
wcwidth==0.1.7
